numpy
pandas
geopandas
contextily
torch
torchvision
seaborn
matplotlib
tqdm
treelib
lxml
scikit-learn
pytorch-metric-learning
torchviz
graphviz
pyarrow
jupyter
transformers
git+https://github.com/basels/osm-taxonomy/