numpy
pandas
geopandas
contextily
torch
torchvision
seaborn
matplotlib
tqdm
treelib
lxml
sklearn
ipywidgets
scikit-learn
pytorch-metric-learning
torchviz
graphviz
pyarrow
jupyter
osmnx
Wikidata
transformers